:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #222;
  text-decoration: inherit;
}

a:hover {
  color: #111;
  text-decoration: underline orangered;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('/the-war-within.jpeg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: "Texturina", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  line-height: 1.2;
  color: #180202;
}

button {
  border-radius: 8px;
  border: 0 solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  background-color: orangered;
  cursor: pointer;
  transition: border-color 0.25s, box-shadow 0.25s;
  color: white;
}

button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  background-color: #555;
  color: #ccc;
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

input:focus,
input:focus-visible {
  outline: 1px auto orangered;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

main {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 30px #FF450055 inset, 0 0 30px #FFA50044;
  padding: 3em 2em 2em;
  overflow-x: auto;
}

.text-left {
  text-align: left;
}

.my-shadow {
  box-shadow: 0 40px 60px rgba(255, 255, 255, 0.1);
}

.orange-glow {
  text-shadow: 0 0 2px orangered, 0 0 10px orange, 0 0 50px orangered;
}
